.activator {

  $activator-width: 9rem;
  $activator-height: 32px;
  $activator-margin: ($header-button-height - $activator-height) / 2;
  $toggle-border: 2px;
  $toggle-size: $activator-height - $toggle-border * 2;

  border: 0;
  border-radius: $activator-height / 2;
  cursor: pointer;
  font-size: .8rem;
  height: $activator-height;
  margin: $activator-margin 0;
  position: relative;
  width: $activator-width;

  &:focus {
    outline: 1px solid $color-active;
    outline-offset: 1px;
  }

  &[aria-pressed="false"] {
    background-color: $bg-dark;
    color: $color-text;
    padding-right: $activator-height / 2;
    text-align: right;
  }

  &[aria-pressed="true"] {
    background: $bg-notifier;
    color: $bg-form;
    padding-left: $activator-height / 2;
    text-align: left;
  }

  &::before {
    background-color: $bg-form;
    border-radius: $toggle-size / 2;
    content: ' ';
    height: $toggle-size;
    position: absolute;
    width: $toggle-size;

    body.loaded & {
      transition: left .25s;
    }
  }

  &[aria-pressed="false"]::before {
    left: $toggle-border;
    top: $toggle-border;
  }

  &[aria-pressed="true"]::before {
    left: calc(#{$activator-width} - #{$activator-height} + #{$toggle-border});
    top: $toggle-border;
  }
}
