@import '../lib/chromeExtensionUrl';
@import '../lib/text-button';

.action-import-label {
  @extend %button-normal;
  height: $header-button-height;
  line-height: $header-button-height;
  margin-left: 8px;
  min-width: $header-button-width;
}

.action-export {
  @extend %button-normal;
  height: $header-button-height;
  line-height: $header-button-height;
  margin-left: 8px;
  min-width: $header-button-width;
}

.action-export-wrapper {
  position: relative;
}
