.activator {

  $toggle-size: 32px;

  border: 0;
  border-radius: $toggle-size / 2;
  height: $toggle-size;
  position: relative;
  width: 8rem;

  &:focus {
    outline: 1px solid $color-active;
    outline-offset: 1px;
  }

  &[aria-pressed="false"] {
    background-color: $bg-dark;
    color: $color-text;
    padding-right: $toggle-size / 2;
    text-align: right;
  }

  &[aria-pressed="true"] {
    background: $bg-notifier;
    color: $bg-form;
    padding-left: $toggle-size / 2;
    text-align: left;
  }

  &::before {
    background-color: $bg-form;
    border-radius: $toggle-size / 2;
    content: ' ';
    height: $toggle-size;
    position: absolute;
    width: $toggle-size;

    body.loaded & {
      transition: left .25s;
    }
  }

  &[aria-pressed="false"]::before {
    left: 0;
    top: 0;
  }

  &[aria-pressed="true"]::before {
    left: calc(8rem - 32px);
    top: 0;
  }
}
