@import "../lib/chromeExtensionUrl";
@import "../lib/text-button";

.action-import-label {
    @extend %text-button;
    background: 0 4px/30px no-repeat chromeExtensionUrl("import.svg");
    margin-left: 8px;
}

.action-export {
    @extend %text-button;
    background: 0 4px/30px no-repeat chromeExtensionUrl("export.svg");
    margin-left: 8px;
}
