.action-enable-customized-portal {
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  line-height: 48px;
  position: relative;
  vertical-align: middle;

  &:focus-within {
    outline: 1px solid $color-active;
  }
}

.action-enable-customized-portal-label {
  cursor: pointer;

  &::before {
    box-sizing: border-box;
    content: '';
    height: 21px;
    left: 0;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 21px;
  }

  &:hover {
    text-decoration: underline;
  }

  .action-enable-customized-portal-input:not(:checked) + &::before {
    background: chrome-extension-img-url('checkbox.png') no-repeat center center $bg-form;
  }

  .action-enable-customized-portal-input:checked + &::before {
    background: chrome-extension-img-url('checkbox-checked.png') no-repeat center center $bg-form;
  }
}

.action-enable-customized-portal-input {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;

  &:focus {
    outline: none;
  }
}
