@import '../lib/form-text';

.config-tabpanel-color-input {
  @extend %form-text;
  font-size: 1rem;
  height: 40px;
  padding: 0 8px;

  &:focus {
    outline: 1px solid $color-active;
  }

  &:disabled {
    background-color: $bg-disabled;
    box-shadow: none;
    color: $color-text-sub;
    cursor: not-allowed;
  }
}

.config-tabpanel-color-input-label-text {
  display: block;
  font-size: 1rem;
  margin: 8px 0;
}
