.file-format-menu {
  background-color: $bg-form;
  border: $border-popup solid 1px;
  box-shadow: 0 1px 3px $color-shadow-bg;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  padding: 8px 0;
  position: absolute;
  right: 0;
  width: 12rem;
  z-index: 1;

  &[hidden] {
    display: none;
  }
}

.file-format-menu-item {
  background: $bg-form;
  border: 0;
  font-size: .8rem;
  outline: none;
  padding: 8px 16px;
  text-align: left;
  width: 100%;

  &:focus,
  &:hover {
    background-color: $bg-form-focus;
  }
}
