.file-format-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    border: #f0f0f0 solid 1px;
    background-color: #fff;
    position: absolute;
    right: 0;

    &[hidden] {
        display: none;
    }
}

.file-format-menu-item {
    background: #fff;
    border: 0;
    padding: 8px 16px;
    width: 100%;
    outline: none;

    &:focus,
    &:hover {
        background-color: #e2f2fe;
    }
}