@import '../lib/form-text';

.name-input {
  @extend %form-text;
  flex: 0 0 15rem;
  font-size: 1rem;
  height: $header-button-height;
  line-height: $header-button-height;
  padding: 8px;
  vertical-align: top;
}
