.portal-header-hider {
  display: inline-block;
  flex: 1;
  font-size: 1rem;
  line-height: 48px;
  position: relative;
  vertical-align: middle;

  &:focus-within {
    outline: 1px solid $color-active;
  }
}

.portal-header-hider-label {
  cursor: pointer;

  &::before {
    box-sizing: border-box;
    content: '';
    height: 21px;
    left: 0;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 21px;
  }

  &:hover {
    text-decoration: underline;
  }

  .portal-header-hider-input:not(:checked) + &::before {
    background: url("https://static.cybozu.com/contents/k/image/argo/form/checkbox.png") no-repeat center center #fff;
  }

  .portal-header-hider-input:checked + &::before {
    background: url("https://static.cybozu.com/contents/k/image/argo/form/checkbox-checked.png") no-repeat center center #fff;
  }
}

.portal-header-hider-input {
  -webkit-appearance: none;
  height: 22px;
  width: 22px;

  &:focus {
    outline: none;
  }
}
