.tabpanelwrapper {
  background-color: $bg-form;
  border-top: 0;
  box-shadow: 0 0 8px 2px $color-shadow-bg;
  padding: 0;
}

.tabpanel {
  padding: 16px;
}

.tabpanel-inputlabel {
  display: block;
  font-size: 1rem;
}

.tabpanel-input {
  background-color: $bg-form;
  border: 1px solid $color-border;
  box-shadow: 4px 4px 12px $color-shadow inset, -4px -4px 12px $color-shadow inset;
  box-sizing: border-box;
  color: $color-text;
  font-family: Menlo, Monaco, "Courier New", Consolas, monospace;
  font-size: 1rem;
  height: 500px;
  line-height: 1.3rem;
  margin: 0;
  position: relative;
  width: 100%;
}

.tabpanel-input-container {
  height: calc(100vh - 300px);
  min-height: 600px;
  width: 100%;
}
