@import '../lib/button';

$header-height: 64px;
$footer-height: 48px;
$content-height: 50vh;
$content-top-base: calc((100vh - 50vh) / 2);

.template-dialog {
  border: 0;
  box-sizing: border-box;
  min-width: 800px;
  padding: 0;
  top: calc(#{$content-top-base} - #{$header-height} - #{$footer-height});
  z-index: 1;

  &::backdrop {
    background-color: $color-black;
    opacity: .6;
  }

  &-header {
    display: flex;
    min-height: $header-height;
    padding-left: 24px;
    padding-right: 6px;
  }

  &-header-left {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-align: left;
  }

  &-header-right {
    align-items: center;
    display: flex;
    flex: 0;
    text-align: right;
  }

  &-header-text {
    font-size: 2rem;
    font-weight: normal;
    line-height: 2;
    margin: 0;
    white-space: nowrap;
  }

  &-header-close {
    border: 0;
    cursor: pointer;
    height: 48px;
    margin: 8px;
    outline: none;
    padding: 0;
    width: 48px;

    &:focus {
      outline: 1px solid $color-active;
    }
  }

  &-content {
    background-color: $bg-button;
    border-top: $color-border solid 1px;
    height: $content-height;
    overflow: auto;
    padding: 16px;
  }

  &-description {
    font-size: 1rem;
    margin-left: 36px;
  }

  &-list {
    display: grid;
    grid-row-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-listitem {
    text-align: center;
  }

  &-listitem-select {
    cursor: pointer;
    display: inline-block;
  }

  &-thumbnail-container {
    background: $bg-form;
    height: 150px;
    position: relative;
  }

  &-thumbnail {
    background-color: $bg-dark;
    margin: 10px;
    min-height: 100px;
    min-width: 200px;
    width: 200px;
  }

  &-thumbnail-container {
    border: 2px solid $bg-button;

    *:checked + & {
      border: 2px solid $color-active;
    }
  }

  &-name {
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    width: 224px;
  }

  &-footer {
    border-top: $color-border solid 1px;
    display: flex;
    height: $footer-height;
    padding: 24px;
  }

  &-footer-left {
    flex: 1;
    text-align: left;
  }

  &-footer-right {
    flex: 1;
    text-align: right;
  }

  &-button-cancel {
    @extend %button-normal;
  }

  &-button-ok {
    @extend %button-default;
    position: relative;
  }
}
