.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.action-save, .action-cancel {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 163px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.action-save:active, .action-cancel:active, .action-save:hover, .action-cancel:hover, .action-save:focus, .action-cancel:focus {
  cursor: pointer;
}

.action-save:focus-within, .action-cancel:focus-within {
  outline: 1px solid #3498db;
}

.action-save {
  border: 1px solid #e3e7e8;
  background-color: #3498db;
  box-shadow: 1px 1px 1px #8ccbee inset;
  color: #fff;
  font-size: 1rem;
}

.action-save:active {
  background-color: #1d6fa5;
}

.action-cancel {
  border: 1px solid #e3e7e8;
  background-color: #f7f9fa;
  box-shadow: 1px 1px 1px #ffffff inset;
  color: #3498db;
  font-size: 1rem;
}

.action-cancel:active {
  background-color: #c8d6dd;
}

.action-save {
  margin-left: 8px;
}

.action-cancel {
  margin-left: 8px;
}

.action-import-label, .action-export {
  background-size: 30px;
  background-position: 0 4px;
  padding: 2px 4px 0 36px;
  line-height: 48px;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
}

.action-import-label:hover, .action-export:hover {
  text-decoration: underline;
}

.action-import-label:focus-within, .action-export:focus-within {
  outline: 1px solid #3498db;
}

.action-import-label {
  background: 0 4px/30px no-repeat url("chrome-extension://__MSG_@@extension_id__/img/import.svg");
  margin-left: 8px;
}

.action-export {
  background: 0 4px/30px no-repeat url("chrome-extension://__MSG_@@extension_id__/img/export.svg");
  margin-left: 8px;
}

.action-enable-customized-portal {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
  font-size: 1rem;
  flex: 1;
}

.action-enable-customized-portal:focus-within {
  outline: 1px solid #3498db;
}

.action-enable-customized-portal-label {
  cursor: pointer;
}

.action-enable-customized-portal-label:before {
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  margin-top: -11px;
  width: 21px;
  height: 21px;
  content: '';
}

.action-enable-customized-portal-input:not(:checked) + .action-enable-customized-portal-label:before {
  background: #fff;
  box-shadow: 1px 1px 3px #f5f5f5 inset, -1px -1px 3px #f5f5f5 inset;
}

.action-enable-customized-portal-input:checked + .action-enable-customized-portal-label:before {
  background: url(https://static.cybozu.com/contents/k/image/argo/form/checkbox-checked.png) no-repeat center center #fff;
}

.action-enable-customized-portal-input {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
}

.action-enable-customized-portal-input:focus {
  outline: none;
}

.name-input {
  box-shadow: 2px 2px 4px #f5f5f5 inset, -2px -2px 4px #f5f5f5 inset;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #e3e7e8;
  background-color: #fff;
  color: #888;
  font-size: 14px;
}

.name-input:focus {
  background-color: #e2f2fe;
  box-shadow: none;
  color: #000;
}

.name-input {
  height: 48px;
  padding: 8px;
  vertical-align: top;
  flex: 1;
}

.tablist {
  display: flex;
  font-size: 16px;
}

.tab {
  height: 48px;
  line-height: 48px;
  min-width: 200px;
  cursor: pointer;
  background-color: #d4d7d7;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #c4c7c7;
  box-shadow: 1px 0 3px #c4c7c7 inset;
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
}

.tab[aria-selected="true"] {
  background-color: #fff;
  box-shadow: none;
  border-left: solid 1px #c4c7c7;
}

.tabpanelwrapper {
  padding: 0;
  border-top: 0;
  background-color: #fff;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}

.tabpanel {
  padding: 16px;
}

.tabpanel-inputlabel {
  display: block;
  font-size: 1rem;
}

.tabpanel-input {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  padding: 8px;
  margin: 0;
  border: 1px solid #e3e7e8;
  background-color: #fff;
  box-shadow: 4px 4px 12px #f5f5f5 inset, -4px -4px 12px #f5f5f5 inset;
  color: #333;
  font-size: 1rem;
}

html {
  font-size: 16px;
}

.main {
  margin: 16px;
}

.global-nav {
  display: flex;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e3e7e8;
}

.global-nav-name {
  flex: 1;
}

.local-nav {
  display: flex;
  margin-bottom: 16px;
}

.config-tabpanel-row {
  font-size: 1rem;
}

.config-tabpanel-row:not(:last-child) {
  margin-bottom: 2rem;
}

.config-tabpanel-row input {
  display: block;
  font-size: 1rem;
  margin-top: 4px;
  padding: 4px;
}
