html {
    font-size: 16px;
}

.tablist {
    display: flex;
    font-size: 16px;
}

.tab {
    height: 48px;
    line-height: 48px;
    min-width: 200px;
    cursor: pointer;
    background-color: #d4d7d7;
    border-style: solid;
    border-color: #c4c7c7;
    box-shadow: 1px 0 3px #c4c7c7 inset;
    box-sizing: border-box;
    text-align: center;
}

.tab[aria-selected="true"] {
    background-color: #fff;
    box-shadow: none;
    border-left: solid 1px #c4c7c7;
}


.tabpanel {
    margin: 16px;
}

.tabpanel label,
.tabpanel textarea {
    font-size: 1rem;
}

.label {
    display: block;
}

.html-input,
.css-input,
.js-input {
    width: 400px;
    height: 300px;
}