.ocean-portal-index-header,
.ocean-portal-body {
  display: none;
}

.customize-portal {
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/button.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  font-size: 0;
}
