.buttonset {
    text-align: right;
}

.action-save {
    box-sizing: border-box;
    padding: 0 16px;
    min-width: 163px;
    height: 48px;
    text-align: center;
    line-height: 48px;

    border: 1px solid #e3e7e8;
    background-color: #3498db;
    box-shadow: 1px 1px 1px #8ccbee inset;
    color: #fff;
    font-size: 1rem;
}