.tablist {
    display: flex;
    font-size: 16px;
}

.tab {
    height: 48px;
    line-height: 48px;
    min-width: 200px;
    cursor: pointer;
    background-color: #d4d7d7;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #c4c7c7;
    box-shadow: 1px 0 3px #c4c7c7 inset;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    
    &[aria-selected="true"] {
        background-color: #fff;
        box-shadow: none;
        border-left: solid 1px #c4c7c7;
    }
}
