@import "lib/visually-hidden";
@import "components/actionsave";
@import "components/actionimportexport";
@import "components/activator";
@import "components/nameinput";
@import "components/tablist";
@import "components/tabpanel";

html {
    font-size: 16px;
}

.main {
    margin: 16px;
}

.global-nav {
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e3e7e8;
}

.global-nav-name {
    flex: 1;
}

.local-nav {
    display: flex;
    margin-bottom: 16px;
}

.config-tabpanel-row {
    font-size: 1rem;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
    input {
        display: block;
        font-size: 1rem;
        margin-top: 4px;
        padding: 4px;
    }
}
