@import "checkbox";
@import "button";
@import "tablist";
@import "tabpanel";
@import "input";

html {
    font-size: 16px;
}

.main {
    margin: 16px;
}

.global-nav {
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e3e7e8;
}

.local-nav {
    display: flex;
    margin-bottom: 16px;
}

.config-tabpanel-row {
    font-size: 1rem;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
    input {
        display: block;
        font-size: 1rem;
        margin-top: 4px;
        padding: 4px;
    }
}
