@import "lib/chromeExtensionUrl";

.customize-portal {
    display: inline-block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-image: chromeExtensionUrl("button.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding: 0;
    font-size: 0;
}

// JSで表示するまで非表示
.gaia-header-header:not(.gaia-header-header-ready) {
  visibility: hidden;
}

// JSで表示するまで非表示
.gaia-header-toolbar:not(.gaia-header-toolbar-ready) {
  visibility: hidden;
}

.ocean-portal-index-header:not(.ocean-portal-index-header-ready) {
  visibility: hidden;
}
// カスタマイズポータルを描画する前にデフォルトのポータルが表示されるのを防ぐ
.ocean-portal-index:not(.kintone-portal-ready) {
  display: none;
}
