@import 'lib/chromeExtensionUrl';
@import 'lib/colors';

.customize-portal {
  background-image: chrome-extension-img-url('kintone-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 48px;
  padding: 0;
  width: 48px;

  &:hover {
    background-color: $toolbar-button-hover;
  }
}

body:not(.kintone-portal-customizer-ready) {
  .gaia-header-header,
  .gaia-header-toolbar,
  .ocean-portal-body,
  .ocean-portal-index-header {
    visibility: hidden;
  }
}
